html {
  overflow: hidden;
}
body {
	margin: 0;
	padding: 0;
	background: rgba(128, 128, 128, 0.8);
}

.Opponent {
	animation: rotation 3s infinite linear;
	-webkit-animation: rotation 3s infinite linear;
}

.paused .Opponent {
	animation: none;
	-webkit-animation: none;
}

@-webkit-keyframes rotation {
	from {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
	}
}


.gamebutton {
	background-color: teal;
	border: none;
	outline: none;
	padding: 0px;	
	cursor: pointer;
	color: white;
	font-family: monospace;
	font-size: 110%;
}

.gamebutton:hover {
	background: rgba(255, 255, 255, 0.3);
}

ul{
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 width: 35%;
}

ul li {
	background-color: teal;
	list-style: none;
	padding: 10px 15px;
	color: white;
	font-family: monospace;
	font-size: 110%;
}